pkgbase = nqptp-git
	pkgdesc = A daemon that monitors timing data from PTP clocks
	pkgver = 1.2.4.r0.g591f425
	pkgrel = 1
	url = https://github.com/mikebrady/nqptp#readme
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = riscv64
	arch = powerpc64le
	license = GPL2
	provides = nqptp
	conflicts = nqptp
	replaces = nqptp
	source = git+https://github.com/mikebrady/nqptp.git
	md5sums = SKIP

pkgname = nqptp-git
