[submodule "shairport-sync-git"]
	path = shairport-sync-git
	url = https://github.com/fwcd/arch-shairport-sync-git.git
[submodule "nqptp-git"]
	path = nqptp-git
	url = https://github.com/fwcd/arch-nqptp-git.git
