pkgbase = mixxx-git
	pkgdesc = Digital DJ mixing software. Git master branch (development/alpha).
	pkgver = r9623
	pkgrel = 1
	url = https://mixxx.org/
	install = mixxx.install
	arch = i686
	arch = pentium4
	arch = x86_64
	groups = pro-audio
	license = GPL2
	makedepends = git
	makedepends = lv2
	makedepends = qt6-tools
	makedepends = cmake
	makedepends = ninja
	makedepends = gtest
	makedepends = benchmark
	depends = chromaprint
	depends = flac
	depends = hidapi
	depends = lame
	depends = libebur128
	depends = libid3tag
	depends = libmad
	depends = libmodplug
	depends = libmp4v2
	depends = libshout
	depends = libsndfile
	depends = libtheora
	depends = libusb
	depends = lilv
	depends = microsoft-gsl
	depends = opusfile
	depends = portaudio
	depends = portmidi
	depends = protobuf
	depends = qt6-declarative
	depends = qt6-5compat
	depends = qt6-svg
	depends = qt6-translations
	depends = qtkeychain-qt6
	depends = rubberband
	depends = soundtouch
	depends = taglib
	depends = ttf-opensans
	depends = ttf-ubuntu-font-family
	depends = upower
	depends = wavpack
	provides = mixxx
	conflicts = mixxx
	source = mixxx::git+https://github.com/mixxxdj/mixxx.git
	source = mixxx.install
	sha256sums = SKIP
	sha256sums = 8f2db8c423cce9685df8ce010dc1dfbf48d0961e7a453d40c495220bf3a272ec

pkgname = mixxx-git
