pkgbase = swift-bin
	pkgdesc = Binary builds of the Swift programming language
	pkgver = 5.9.2
	pkgrel = 1
	url = https://www.swift.org/
	arch = x86_64
	arch = aarch64
	license = apache
	makedepends = patchelf
	depends = libutil-linux
	depends = libxml2
	depends = ncurses
	optdepends = python36: required for REPL
	provides = swift-language
	replaces = swift-language-bin
	options = !strip
	source_x86_64 = https://download.swift.org/swift-5.9.2-release/ubuntu2204/swift-5.9.2-RELEASE/swift-5.9.2-RELEASE-ubuntu22.04.tar.gz
	sha256sums_x86_64 = 6407e39eed7eaefcf7837d192d71765fb0f7cf8bf282c35b021171e8b15617c1
	source_aarch64 = https://download.swift.org/swift-5.9.2-release/ubuntu2204-aarch64/swift-5.9.2-RELEASE/swift-5.9.2-RELEASE-ubuntu22.04-aarch64.tar.gz
	sha256sums_aarch64 = 942e58de3384c9ca57f9e136be4fab7a7e799ee3269c70f35d60b3fee0f1e2fe

pkgname = swift-bin
